extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.tasks.title')
  a.btn.btn-primary.mb-5(href=route('newTask'))= t('views.tasks.create_task_button')
  .card.shadow-sm
    .card-body.p-4
      +formFor()(action=`/tasks` method='get')
        .row
          .col-12.col-md
            +filterSelect('status', t('views.tasks.status'), statuses)
          .col-12.col-md
            +filterSelect('executor', t('views.tasks.executor'), users)
          .col-12.col-md
            +filterSelect('label', t('views.tasks.label'), labels)
          .mb-3.form-check
              input.form-check-input#data_isCreatorUser(type='checkbox', name='isCreatorUser', checked=query.isCreatorUser)
              label.form-check-label(for='data_isCreatorUser')= t('views.tasks.is_creator_user')
        +submit(task)(value=t('views.tasks.show'))

  .table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th= t('views.tasks.id')
          th= t('views.tasks.name')
          th= t('views.tasks.status')
          th= t('views.tasks.creator')
          th= t('views.tasks.executor')
          th= t('views.tasks.createdAt')
          th= t('views.tasks.actions.title')
      tbody
        each task in tasks
          tr
            td= task.id
            td
              a(href=`/tasks/${task.id}`)=task.name
            td= task.status.name
            td= `${task.creator.firstName} ${task.creator.lastName}`
            td= task.executor && `${task.executor.firstName} ${task.executor.lastName}`
            td= formatDate(task.createdAt)
            td
              +formFor()(action=`/tasks/${task.id}` method='post')
                a.btn.btn-primary.me-1(href=`/tasks/${task.id}/edit`)=t('views.tasks.actions.edit')
                input(name="_method" type="hidden" value="delete")
                input.btn.btn-danger(type="submit" value=t('views.tasks.actions.delete'))
