extends ../layouts/application.pug

block content
    .container.card
        .row
            h1.card-header= task.name
        .row
            .col-8
                p.card-text= task.description
            .col.border
                ul.list-group.list-group-flush
                    li.list-group-item
                        each label in task.labels
                            span.badge.bg-primary.me-1= label.name
                        span.badge.bg-success.me-1= task.status.name
                    li.list-group-item= t('views.tasks.creator') + ': ' + task.creator.firstName + ' ' + task.creator.lastName
                    li.list-group-item= t('views.tasks.executor') + ': ' + task.executor.firstName + ' ' + task.executor.lastName
                    li.list-group-item= t('views.tasks.createdAt') + ': ' + task.createdAt
                    li.list-group-item
                        +formFor()(action=`/tasks/${task.id}` method='post')
                            a.btn.btn-primary.me-1(href=`/tasks/${task.id}/edit`)=t('views.tasks.actions.edit')
                            input(name="_method" type="hidden" value="delete")
                            input.btn.btn-danger(type="submit" value=t('views.tasks.actions.delete'))

